{% extends "base.twig" %}

{% block container %}
    <div class="row">
        <div class="col-md-4">
          <h2>Zakat Maal</h2>
          <p>Adalah zakat yang dikenakan atas harta yang dimiliki oleh individu dengan syarat-syarat dan ketentuan-ketentuan yang telah ditetapkan secara syarak</p>
          <p><a class="btn btn-info" href="/report/zakat/1" role="button">Lebih lanjut &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Zakat Profesi</h2>
          <p>zakat yang dikeluarkan dari penghasilan profesi (hasil profesi) bila telah mencapai nisab. Profesi dimaksud mencakup profesi pegawai negeri atau swasta, konsultan, dokter, notaris, akuntan, artis, dan wiraswasta</p>
          <p><a class="btn btn-info" href="/report/zakat/2" role="button">Lebih lanjut &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Zakat Fitrah</h2>
          <p>Zakat diri yang diwajibkan atas diri setiap individu lelaki dan perempuan muslim yang berkemampuan dengan syarat-syarat yang ditetapkan</p>
          <p><a class="btn btn-info" href="/report/zakat/3" role="button">Lebih lanjut &raquo;</a></p>
        </div>
      </div>
{% endblock %}