{% extends "dashboard/base.twig" %}
{% block extra_css %}{% endblock %}
{% block content %}
<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Bayar Zakat Maal</h3>
             
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Tipe</label>
                    <select class="form-control select2" id="type">
                      <option selected="selected" value="0">Belum Transfer</option>
                      <option value="1">Sudah Transfer</option>
                    </select>
                  </div><!-- /.form-group -->
                 
                </div><!-- /.col -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Bank</label>
                    <select class="form-control select2" id="bank">
                      <option value="0">---- bank ----</option>{% for bank in list_bank %}
                    <option value="{{ bank.id }}">{{ bank.bank_name}} {{ bank.bank_account_number}}</option>{% endfor %}
                    </select>
                  </div>
                </div><!-- /.col -->
              </div>
              <div class="row">
                <div class="col-md-12">
                        <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                  <li class="active"><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">Manual</a></li>
                 
                  <li class="pull-left header"><i class="fa fa-th"></i> Hitung Zakat</li>
                </ul>
                <div class="tab-content">
                  
                  <div class="tab-pane active" id="tab_2-2">
                    <button class="btn btn-primary" id="add-item">Tambah</button>
                <table class="table" id="zakat-item">
                    <tr><th>Jumlah (Rp)</th><th>Keterangan</th></tr>
                    <tr class="data_line" >
                        <td class="jumlah">
                            <input  class="form-control" type="text"/>
                        </td>
                        <td class="desc">
                            <input class="form-control" type="text"/>
                        </td>
                    </tr>
                </table>
                  </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
              </div>
               
                <button class="btn btn-success" id="bayar">Bayar</button>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              Pilih tipe "Belum transfer" apabila anda berencana akan men-transfer dana zakat belakangan. <br/>
              Pilih tipe "Sudah transfer" apabila anda sudah men-transfer dana zakat ke salah satu rekening bank kami.
            </div>
          </div><!-- /.box -->
{% endblock %}
{% block extra_js %}
    <script>
    $(document).ready(function(){
        var data = JSON.parse('{ "data" : []}');
        var redirect = '/dashboard/personal_pay_confirm_maal/{{ user_id }}';

        $("#add-item").click(function(){
            $("#zakat-item tbody").append(" <tr class='data_line'><td  class='jumlah'><input  class='form-control' type='text'/></td><td  class='desc'><input class='form-control' type='text'/></td></tr>");
        });
        
        $("#bayar").click(function(){
            var type = $("#type").val();
            var bank = $("#bank").val();
            $(".data_line").each(function(){
                var jumlah = $(this).find(".jumlah input").val();
                var desc = $(this).find(".desc input").val();
                data['data'].push({"jumlah" :jumlah,"desc" : desc});
            });
            console.log(JSON.stringify(data));
            $.redirectPost(redirect, {type: type, bank: bank, data : JSON.stringify(data)});
        });
    });
    </script>
{% endblock %}