{% extends "dashboard/base.twig" %}
{% block extra_css %}{% endblock %}
{% block content %}
<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Bayar Zakat Maal</h3>
             
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Tipe</label>
                    <select class="form-control select2" name="type">
                      <option selected="selected" value="0">Belum Transfer</option>
                      <option value="1">Sudah Transfer</option>
                    </select>
                  </div><!-- /.form-group -->
                 
                </div><!-- /.col -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Bank</label>
                    <select class="form-control select2" name="bank">
                      <option>---- bank ----</option>{% for bank in list_bank %}
                    <option value="{{ bank.id }}">{{ bank.bank_name}} {{ bank.bank_account_number}}</option>{% endfor %}
                    </select>
                  </div>
                </div><!-- /.col -->
              </div>
              <div class="row">
                <div class="col-md-12">
                <button class="btn btn-success" id="add-item">Tambah</button>
                <table class="table" id="zakat-item">
                    <tr><th>Jumlah</th><th>Keterangan</th></tr>
                    <tr rel="0" >
                        <td>
                            <input rel="jumlah"  class="form-control" type="text"/>
                        </td>
                        <td>
                            <input rel="desc" class="form-control" type="text"/>
                        </td>
                    </tr>
                </table>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              Pilih tipe "Belum transfer" apabila anda berencana akan men-transfer dana zakat belakangan. <br/>
              Pilih tipe "Sudah transfer" apabila anda sudah men-transfer dana zakat ke salah satu rekening bank kami.
            </div>
          </div><!-- /.box -->
{% endblock %}
{% block extra_js %}
    <script>
    $(document).ready(function(){
        $("#add-item").click(function(){
            $("#zakat-item tbody").append(" <tr><td><input rel='jumlah'  class='form-control' type='text'/></td><td><input rel='desc' class='form-control' type='text'/></td></tr>");
        });
    });
    </script>
{% endblock %}